
body {
    background-image: url("chalkboard.jpg");
}
h1 {
    color: white;
    
}
.container {
    text-align: center;
}
p {
    color: white;
}
hr {
    border-bottom: 1px solid white;
    width: 600px;
}
